body {
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

header {
    display: flex;
    width: 100%;
}

.nav-lista {
    display: flex;
    list-style: none;
    color: black;
    font-size: 40px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.nav-item:hover {
    cursor: pointer;
    background-color: black;
    color: #e7f0fd;
}

section {
    width: 100%;
    padding-left: 8%;
}
.secao {
    padding-top: 8%;
    padding-right: 2%;
}

.molduras videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}